.navbar{
    padding-top: 20px;
    padding-left: 14%;
    padding-right: 5%;
    padding-bottom: 15px;
}
.thing{
    padding-left: 1 rem;
    padding-right: 1 rem;
}

#about{
    padding: 3% 15%;
    background-color: #F6FFDE;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.paper-plane{
    width: 20%;
    position: absolute;
    left: 630px;
    top: 15px;
    transform: rotate(-12deg);
}
.hero-img{
    width: 125%;
    padding-left: 75px;
}

.main-text {
    font-family: 'Rochester', cursive;
    font-size: 3.5rem;
    color: #1B9C85;
    
}
.main-heading{
    font-family: 'Montserrat', sans-serif;
    color:  #1B9C85;
    font-size: 3.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 1.3;
}
.main-subheading{
    font-family: 'Rochester', cursive;
    font-size: 2rem;
    color: #1B9C85;
    padding-top: 5px;
    padding-bottom: 8px;

}
.main-button{
 margin: 3%;
 margin-right: 1%;
 margin-top: 4%;
}

.places-img{
    height: 210px;
    width: 210px;
    margin: 25px;
   border-radius: 100%;
}

#middle-section{
    background-color:  #1B9C85;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 90px;
}
.carousel-inner{
    padding: 3% 15%;
}

.mid-heading{
    color: #F6FFDE; 
    font-family: 'Montserrat', sans-serif;
}

.places{
    color: #F6FFDE; 
    font-size: 1.2rem;
}

#special-pack{
background-color: #F6FFDE;
padding-bottom: 35px;
}

.special-heading{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
    color: #1B9C85;
    font-size: 3rem;
}

.spl-img{
    width: 45%;
   
}

.spl-pack{
    width: 50%;
    margin: 3% auto 3% auto;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 30px;
}

.solo-img{
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10%;
}

.couple-img{
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10%;
}
.family-spl{
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10%;
}
.special-para{
    font-size: 1.1rem;
    color: #103106;
}


.search-bar{
    float: center;
    padding: 10px 95px;
    border: solid;
    border-color: #1B9C85;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 20px 20px 20px 20px;
}

.btn-search{
    background-color: #F9D949;
    margin-bottom: 4px;
    padding: 8px;
    width: 50px;
    border-color: #F9D949 ;
}

hr{
  border-style: none;
  border-top: dotted;
  height: 0;
  border-width: 8px;
  width: 5%;
  margin: 30px auto;
  color: #1B9C85;
}

#moving{
    background-color: #F6FFDE;
    padding-bottom: 10%;
}

.moving-btn{
    background-color: #1B9C85;
    margin-bottom: 4px;
    padding: 8px;
    width: 50px;
    border-color: #F6FFDE;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 10% 10%;
}

#catagories{
    padding: 3% 15%;
    background-color: #1B9C85;
    text-align: center;
    padding-bottom: 100px;
}

#links{
    padding: 3% 15%;
    padding-bottom: 7%;
    background-color: #F6FFDE;
    text-align: center;
}

.best-months:hover {
    background-color: #F9D949;

}

.know-more{
    padding-top: 80px;
}


.bestplace-card{ 
    margin-left: 25px;
    margin-right: 25px;

}

#footer{
    padding: 5% 15%;
    background-color: #1B9C85;
    text-align: center;
}

@media (max-width: 1028px) {

    #about{
    text-align: left;
    }

    .hero-img{
        width: 115%;
        padding-top: 10px;
        padding-left: 270px;
    }

   .paper-plane{
    width: 30%;
   }

    

}

